{% extends 'base.html' %}


{% block title %}  INDEX BLOG {% endblock title %}
    
{% block content %}

<div class="row">
    <div class= "col-sm-12 col-md-6 col-lg-4 col-xl-4">
    </div>
    <div class= "col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive py-2"> 
            <table class= "table table-striped">
                <thead>    
                    <tr>
                        <th> Recetas </th>
                        <th> Reseña </th>
                        <th> Autor </th>
                        <th> Categoria </th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    
                    <tr>
                    
                        <td><a href="{% url 'blog:post-detail' slug=post.slug %}">{{ post.title }}</a></td>
                        <td>{{ post.excerpt| truncatechars:100  }}</td>
                        <td> {{ post.author}}</td>
                        <td><a href="{% url 'blog:post-detail' slug=post.slug %}"> {{ post.category}}</td>


                    {% endfor %}
                    </tr>
            
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
    

    





